.footer {
  height: 156px;


  background-image: url(../../images/cinema24_logo_footer.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-color: $dark-background;
}
