.logo {
  display: block;
  width: 86px;
  height: 36px;

  background-image: url(../../images/cinema24_logo.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
