$main-text-color: #224;
$second-text-color: #6c788b;
$name-text-color: #c0cdd7;
$header-text-color: #fff;
$footer-text-color: #fff;
$button-text-color: #fff;

$dark-background: #000;
$medium-background: #acb;
$light-background: #f2f6fa;

$color-blue: #2cb992;

$max-content-width: 1148px;

$menu-icons-gap: 36px;
$icon-size: 32px;
